## Project Visualization

In [1]:
#load libraries

import pandas as pd
import numpy as np
import seaborn as sns
import os

In [2]:
#Folder path

cwd = os.getcwd()
cwd

'C:\\Users\\zpap\\OneDrive - AholdDelhaize.com\\Personal elements\\04. Dimokritos_Files\\2nd SEMESTER\\Big Data Security and Visualization\\Visualiazation Project\\Data'

In [3]:
# Replace values from \ to /

path=cwd.replace("\\","/")
print(path)

C:/Users/zpap/OneDrive - AholdDelhaize.com/Personal elements/04. Dimokritos_Files/2nd SEMESTER/Big Data Security and Visualization/Visualiazation Project/Data

## 2017

In [4]:
#Fill in the name of file and join it with path

filename2017Q1="/2017Q1-capitalbikeshare-tripdata.csv"
filename2017Q2="/2017Q2-capitalbikeshare-tripdata.csv"
filename2017Q3="/2017Q3-capitalbikeshare-tripdata.csv"
filename2017Q4="/2017Q4-capitalbikeshare-tripdata.csv"


traindata2017Q1=path+filename2017Q1
traindata2017Q2=path+filename2017Q2
traindata2017Q3=path+filename2017Q3
traindata2017Q4=path+filename2017Q4

In [5]:
train2017Q1 = pd.read_csv(traindata2017Q1,sep = ',', encoding="utf8")
train2017Q2 = pd.read_csv(traindata2017Q2,sep = ',', encoding="utf8")
train2017Q3 = pd.read_csv(traindata2017Q3,sep = ',', encoding="utf8")
train2017Q4 = pd.read_csv(traindata2017Q4,sep = ',', encoding="utf8")

In [6]:
#Add a new column that expresses the semi annual

train2017Q1['Semi Annual']="H1 2017"
train2017Q2['Semi Annual']="H1 2017"
train2017Q3['Semi Annual']="H2 2017"
train2017Q4['Semi Annual']="H2 2017"

In [7]:
#Create table

FY2017=pd.concat([train2017Q1,train2017Q2,train2017Q3,train2017Q4], ignore_index=True)
FY2017

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type,Semi Annual
0,221,2017-01-01 00:00:41,2017-01-01 00:04:23,31634,3rd & Tingey St SE,31208,M St & New Jersey Ave SE,W00869,Member,H1 2017
1,1676,2017-01-01 00:06:53,2017-01-01 00:34:49,31258,Lincoln Memorial,31270,8th & D St NW,W00894,Casual,H1 2017
2,1356,2017-01-01 00:07:10,2017-01-01 00:29:47,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31222,New York Ave & 15th St NW,W21945,Casual,H1 2017
3,1327,2017-01-01 00:07:22,2017-01-01 00:29:30,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31222,New York Ave & 15th St NW,W20012,Casual,H1 2017
4,1636,2017-01-01 00:07:36,2017-01-01 00:34:52,31258,Lincoln Memorial,31270,8th & D St NW,W22786,Casual,H1 2017
...,...,...,...,...,...,...,...,...,...,...
3757772,277,2017-12-31 23:43:17,2017-12-31 23:47:54,31109,7th & T St NW,31118,3rd & Elm St NW,W21036,Member,H2 2017
3757773,399,2017-12-31 23:51:55,2017-12-31 23:58:35,31125,15th & W St NW,31110,20th St & Florida Ave NW,W23147,Casual,H2 2017
3757774,393,2017-12-31 23:55:19,2018-01-01 00:01:52,31209,1st & N St SE,31609,Maine Ave & 7th St SW,W20144,Member,H2 2017
3757775,1319,2017-12-31 23:57:42,2018-01-01 00:19:42,31102,11th & Kenyon St NW,31102,11th & Kenyon St NW,W20860,Member,H2 2017
3757776,266,2017-12-31 23:58:21,2018-01-01 00:02:48,31229,New Hampshire Ave & T St NW,31119,14th & Belmont St NW,W01459,Member,H2 2017

In [8]:
FY2017.dtypes

Duration                 int64
Start date              object
End date                object
Start station number     int64
Start station           object
End station number       int64
End station             object
Bike number             object
Member type             object
Semi Annual             object
dtype: object

In [9]:
FY2017.to_csv('FY2017.csv',";", index = False)

## 2018

In [10]:
#Fill in the name of file and join it with path

filename201801="/201801_capitalbikeshare_tripdata.csv"
filename201802="/201802-capitalbikeshare-tripdata.csv"
filename201803="/201803-capitalbikeshare-tripdata.csv"
filename201804="/201804-capitalbikeshare-tripdata.csv"
filename201805="/201805-capitalbikeshare-tripdata.csv"
filename201806="/201806-capitalbikeshare-tripdata.csv"
filename201807="/201807-capitalbikeshare-tripdata.csv"
filename201808="/201808-capitalbikeshare-tripdata.csv"
filename201809="/201809-capitalbikeshare-tripdata.csv"
filename201810="/201810-capitalbikeshare-tripdata.csv"
filename201811="/201811-capitalbikeshare-tripdata.csv"
filename201812="/201812-capitalbikeshare-tripdata.csv"

traindata201801=path+filename201801
traindata201802=path+filename201802
traindata201803=path+filename201803
traindata201804=path+filename201804
traindata201805=path+filename201805
traindata201806=path+filename201806
traindata201807=path+filename201807
traindata201808=path+filename201808
traindata201809=path+filename201809
traindata201810=path+filename201810
traindata201811=path+filename201811
traindata201812=path+filename201812

In [11]:
train201801 = pd.read_csv(traindata201801,sep = ',', encoding="utf8")
train201802 = pd.read_csv(traindata201802,sep = ',', encoding="utf8")
train201803 = pd.read_csv(traindata201803,sep = ',', encoding="utf8")
train201804 = pd.read_csv(traindata201804,sep = ',', encoding="utf8")
train201805 = pd.read_csv(traindata201805,sep = ',', encoding="utf8")
train201806 = pd.read_csv(traindata201806,sep = ',', encoding="utf8")
train201807 = pd.read_csv(traindata201807,sep = ',', encoding="utf8")
train201808 = pd.read_csv(traindata201808,sep = ',', encoding="utf8")
train201809 = pd.read_csv(traindata201809,sep = ',', encoding="utf8")
train201810 = pd.read_csv(traindata201810,sep = ',', encoding="utf8")
train201811 = pd.read_csv(traindata201811,sep = ',', encoding="utf8")
train201812 = pd.read_csv(traindata201812,sep = ',', encoding="utf8")

In [12]:
#Add a new column that expresses the semi annual

train201801['Semi Annual']="H1 2018"
train201802['Semi Annual']="H1 2018"
train201803['Semi Annual']="H1 2018"
train201804['Semi Annual']="H1 2018"
train201805['Semi Annual']="H1 2018"
train201806['Semi Annual']="H1 2018"
train201807['Semi Annual']="H2 2018"
train201808['Semi Annual']="H2 2018"
train201809['Semi Annual']="H2 2018"
train201810['Semi Annual']="H2 2018"
train201811['Semi Annual']="H2 2018"
train201812['Semi Annual']="H2 2018"
train201802

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type,Semi Annual
0,892,2018-02-01 00:01:29,2018-02-01 00:16:21,31312,Wisconsin Ave & O St NW,31267,17th St & Massachusetts Ave NW,W21967,Member,H1 2018
1,501,2018-02-01 00:04:19,2018-02-01 00:12:40,31089,Court House Metro / 15th & N Uhle St,31079,Lee Hwy & N Cleveland St,W00938,Member,H1 2018
2,788,2018-02-01 00:05:03,2018-02-01 00:18:12,32048,Bethesda Metro,31315,McKinley St & Connecticut Ave NW,W00792,Member,H1 2018
3,406,2018-02-01 00:18:11,2018-02-01 00:24:57,31224,19th & L St NW,31214,17th & Corcoran St NW,W21087,Member,H1 2018
4,161,2018-02-01 00:18:11,2018-02-01 00:20:53,31126,11th & Girard St NW,31115,Columbia Rd & Georgia Ave NW,W01068,Member,H1 2018
...,...,...,...,...,...,...,...,...,...,...
182373,418,2018-02-28 23:57:06,2018-03-01 00:04:04,31201,15th & P St NW,31110,20th St & Florida Ave NW,W21083,Member,H1 2018
182374,565,2018-02-28 23:57:10,2018-03-01 00:06:35,31507,1st & Washington Hospital Center NW,31109,7th & T St NW,W20402,Member,H1 2018
182375,651,2018-02-28 23:58:18,2018-03-01 00:09:10,31312,Wisconsin Ave & O St NW,31278,18th & R St NW,W21049,Member,H1 2018
182376,779,2018-02-28 23:59:45,2018-03-01 00:12:44,31114,18th St & Wyoming Ave NW,31266,11th & M St NW,W22520,Casual,H1 2018
182377,1972,2018-02-28 23:59:53,2018-03-01 00:32:46,31519,1st & O St NW,31519,1st & O St NW,W22966,Member,H1 2018

In [13]:
FY2018=pd.concat([train201801,train201802,train201803,train201804,train201805,train201806,train201807,train201808,train201809,train201810,train201811,train201812], ignore_index=True)
FY2018

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type,Semi Annual
0,552,2018-01-01 00:05:06,2018-01-01 00:14:18,31104,Adams Mill & Columbia Rd NW,31400,Georgia & New Hampshire Ave NW,W00886,Member,H1 2018
1,1282,2018-01-01 00:14:30,2018-01-01 00:35:53,31321,15th St & Constitution Ave NW,31321,15th St & Constitution Ave NW,W01435,Casual,H1 2018
2,1265,2018-01-01 00:14:53,2018-01-01 00:35:58,31321,15th St & Constitution Ave NW,31321,15th St & Constitution Ave NW,W21242,Casual,H1 2018
3,578,2018-01-01 00:15:31,2018-01-01 00:25:09,31406,14th & Upshur St NW,31103,16th & Harvard St NW,W21322,Casual,H1 2018
4,372,2018-01-01 00:18:02,2018-01-01 00:24:15,31618,4th & East Capitol St NE,31619,Lincoln Park / 13th & East Capitol St NE,W00119,Member,H1 2018
...,...,...,...,...,...,...,...,...,...,...
3542679,3313,2018-12-31 23:37:22,2019-01-01 00:32:36,31615,6th & H St NE,31624,North Capitol St & F St NW,W00159,Member,H2 2018
3542680,888,2018-12-31 23:42:18,2018-12-31 23:57:07,31618,4th & East Capitol St NE,31509,New Jersey Ave & R St NW,W22026,Member,H2 2018
3542681,2332,2018-12-31 23:44:23,2019-01-01 00:23:16,31907,Franklin & S Washington St,32406,Fleet St & Waterfront St,W23900,Member,H2 2018
3542682,307,2018-12-31 23:52:42,2018-12-31 23:57:50,31114,18th St & Wyoming Ave NW,31103,16th & Harvard St NW,W00761,Member,H2 2018
3542683,1062,2018-12-31 23:54:09,2019-01-01 00:11:52,31110,20th St & Florida Ave NW,31014,Lynn & 19th St North,W21324,Member,H2 2018

In [72]:
FY2018.dtypes

Duration                 int64
Start date              object
End date                object
Start station number     int64
Start station           object
End station number       int64
End station             object
Bike number             object
Member type             object
Semi Annual             object
dtype: object

In [99]:
FY2018.to_csv('FY2018.csv', ";",index = False)

## 2019

In [14]:
#Fill in the name of file and join it with path

filename201901="/201901-capitalbikeshare-tripdata.csv"
filename201902="/201902-capitalbikeshare-tripdata.csv"
filename201903="/201903-capitalbikeshare-tripdata.csv"
filename201904="/201904-capitalbikeshare-tripdata.csv"
filename201905="/201905-capitalbikeshare-tripdata.csv"
filename201906="/201906-capitalbikeshare-tripdata.csv"
filename201907="/201907-capitalbikeshare-tripdata.csv"
filename201908="/201908-capitalbikeshare-tripdata.csv"
filename201909="/201909-capitalbikeshare-tripdata.csv"
filename201910="/201910-capitalbikeshare-tripdata.csv"
filename201911="/201911-capitalbikeshare-tripdata.csv"
filename201912="/201912-capitalbikeshare-tripdata.csv"

traindata201901=path+filename201901
traindata201902=path+filename201902
traindata201903=path+filename201903
traindata201904=path+filename201904
traindata201905=path+filename201905
traindata201906=path+filename201906
traindata201907=path+filename201907
traindata201908=path+filename201908
traindata201909=path+filename201909
traindata201910=path+filename201910
traindata201911=path+filename201911
traindata201912=path+filename201912

In [15]:
train201901 = pd.read_csv(traindata201901,sep = ',', encoding="utf8")
train201902 = pd.read_csv(traindata201902,sep = ',', encoding="utf8")
train201903 = pd.read_csv(traindata201903,sep = ',', encoding="utf8")
train201904 = pd.read_csv(traindata201904,sep = ',', encoding="utf8")
train201905 = pd.read_csv(traindata201905,sep = ',', encoding="utf8")
train201906 = pd.read_csv(traindata201906,sep = ',', encoding="utf8")
train201907 = pd.read_csv(traindata201907,sep = ',', encoding="utf8")
train201908 = pd.read_csv(traindata201908,sep = ',', encoding="utf8")
train201909 = pd.read_csv(traindata201909,sep = ',', encoding="utf8")
train201910 = pd.read_csv(traindata201910,sep = ',', encoding="utf8")
train201911 = pd.read_csv(traindata201911,sep = ',', encoding="utf8")
train201912 = pd.read_csv(traindata201912,sep = ',', encoding="utf8")

In [16]:
#Add a new column that expresses the semi annual

train201901['Semi Annual']="H1 2019"
train201902['Semi Annual']="H1 2019"
train201903['Semi Annual']="H1 2019"
train201904['Semi Annual']="H1 2019"
train201905['Semi Annual']="H1 2019"
train201906['Semi Annual']="H1 2019"
train201907['Semi Annual']="H2 2019"
train201908['Semi Annual']="H2 2019"
train201909['Semi Annual']="H2 2019"
train201910['Semi Annual']="H2 2019"
train201911['Semi Annual']="H2 2019"
train201912['Semi Annual']="H2 2019"

In [17]:
FY2019=pd.concat([train201901,train201902,train201903,train201904,train201905,train201906,train201907,train201908,train201909,train201910,train201911,train201912], ignore_index=True)
FY2019

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type,Semi Annual
0,230,2019-01-01 00:04:48,2019-01-01 00:08:39,31203,14th & Rhode Island Ave NW,31200,Massachusetts Ave & Dupont Circle NW,E00141,Member,H1 2019
1,1549,2019-01-01 00:06:37,2019-01-01 00:32:27,31321,15th St & Constitution Ave NW,31114,18th St & Wyoming Ave NW,W24067,Casual,H1 2019
2,177,2019-01-01 00:08:46,2019-01-01 00:11:44,31104,Adams Mill & Columbia Rd NW,31323,Woodley Park Metro / Calvert St & Connecticut ...,W22654,Casual,H1 2019
3,228,2019-01-01 00:08:47,2019-01-01 00:12:35,31281,8th & O St NW,31280,11th & S St NW,W22336,Member,H1 2019
4,1300,2019-01-01 00:12:29,2019-01-01 00:34:10,31014,Lynn & 19th St North,31923,Columbia Pike & S Taylor St,70004,Member,H1 2019
...,...,...,...,...,...,...,...,...,...,...
3398412,130,2019-12-31 23:57:36,2019-12-31 23:59:46,31011,Crystal Dr & 23rd St S,31009,Crystal Dr & 27th St S,W21285,Member,H2 2019
3398413,664,2019-12-31 23:57:47,2020-01-01 00:08:51,31125,15th & W St NW,31281,8th & O St NW,W24197,Member,H2 2019
3398414,389,2019-12-31 23:59:37,2020-01-01 00:06:06,31047,Braddock Rd Metro,31085,Mount Vernon Ave & E Nelson Ave,W21281,Member,H2 2019
3398415,962,2019-12-31 23:59:38,2020-01-01 00:15:40,31236,37th & O St NW / Georgetown University,31214,17th & Corcoran St NW,W00534,Member,H2 2019
3398416,183,2019-12-31 23:59:55,2020-01-01 00:02:58,31227,13th St & New York Ave NW,31254,15th & K St NW,W22782,Member,H2 2019

In [18]:
FY2019.dtypes

Duration                 int64
Start date              object
End date                object
Start station number     int64
Start station           object
End station number       int64
End station             object
Bike number             object
Member type             object
Semi Annual             object
dtype: object

In [100]:
FY2019.to_csv('FY2019.csv',";", index = False)

In [19]:
Allyears=pd.concat([FY2017,FY2018,FY2019], ignore_index=True)
Allyears

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type,Semi Annual
0,221,2017-01-01 00:00:41,2017-01-01 00:04:23,31634,3rd & Tingey St SE,31208,M St & New Jersey Ave SE,W00869,Member,H1 2017
1,1676,2017-01-01 00:06:53,2017-01-01 00:34:49,31258,Lincoln Memorial,31270,8th & D St NW,W00894,Casual,H1 2017
2,1356,2017-01-01 00:07:10,2017-01-01 00:29:47,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31222,New York Ave & 15th St NW,W21945,Casual,H1 2017
3,1327,2017-01-01 00:07:22,2017-01-01 00:29:30,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31222,New York Ave & 15th St NW,W20012,Casual,H1 2017
4,1636,2017-01-01 00:07:36,2017-01-01 00:34:52,31258,Lincoln Memorial,31270,8th & D St NW,W22786,Casual,H1 2017
...,...,...,...,...,...,...,...,...,...,...
10698873,130,2019-12-31 23:57:36,2019-12-31 23:59:46,31011,Crystal Dr & 23rd St S,31009,Crystal Dr & 27th St S,W21285,Member,H2 2019
10698874,664,2019-12-31 23:57:47,2020-01-01 00:08:51,31125,15th & W St NW,31281,8th & O St NW,W24197,Member,H2 2019
10698875,389,2019-12-31 23:59:37,2020-01-01 00:06:06,31047,Braddock Rd Metro,31085,Mount Vernon Ave & E Nelson Ave,W21281,Member,H2 2019
10698876,962,2019-12-31 23:59:38,2020-01-01 00:15:40,31236,37th & O St NW / Georgetown University,31214,17th & Corcoran St NW,W00534,Member,H2 2019
10698877,183,2019-12-31 23:59:55,2020-01-01 00:02:58,31227,13th St & New York Ave NW,31254,15th & K St NW,W22782,Member,H2 2019

In [20]:
Allyears.to_csv('Allyears.csv',";", index = False)

## 2020

In [78]:
#Fill in the name of file and join it with path

filename202001="/202001-capitalbikeshare-tripdata.csv"
filename202002="/202002-capitalbikeshare-tripdata.csv"
filename202003="/202003-capitalbikeshare-tripdata.csv"
filename202004="/202004-capitalbikeshare-tripdata.csv"
filename202005="/202005-capitalbikeshare-tripdata.csv"
filename202006="/202006-capitalbikeshare-tripdata.csv"
filename202007="/202007-capitalbikeshare-tripdata.csv"
filename202008="/202008-capitalbikeshare-tripdata.csv"
filename202009="/202009-capitalbikeshare-tripdata.csv"
filename202010="/202010-capitalbikeshare-tripdata.csv"
filename202011="/202011-capitalbikeshare-tripdata.csv"
filename202012="/202012-capitalbikeshare-tripdata.csv"

traindata202001=path+filename202001
traindata202002=path+filename202002
traindata202003=path+filename202003
traindata202004=path+filename202004
traindata202005=path+filename202005
traindata202006=path+filename202006
traindata202007=path+filename202007
traindata202008=path+filename202008
traindata202009=path+filename202009
traindata202010=path+filename202010
traindata202011=path+filename202011
traindata202012=path+filename202012

In [80]:
train202001 = pd.read_csv(traindata202001,sep = ',', encoding="utf8")
train202002 = pd.read_csv(traindata202002,sep = ',', encoding="utf8")
train202003 = pd.read_csv(traindata202003,sep = ',', encoding="utf8")
train202004 = pd.read_csv(traindata202004,sep = ',', encoding="utf8")
train202005 = pd.read_csv(traindata202005,sep = ',', encoding="utf8")
train202006 = pd.read_csv(traindata202006,sep = ',', encoding="utf8")
train202007 = pd.read_csv(traindata202007,sep = ',', encoding="utf8")
train202008 = pd.read_csv(traindata202008,sep = ',', encoding="utf8")
train202009 = pd.read_csv(traindata202009,sep = ',', encoding="utf8")
train202010 = pd.read_csv(traindata202010,sep = ',', encoding="utf8")
train202011 = pd.read_csv(traindata202011,sep = ',', encoding="utf8")
train202012 = pd.read_csv(traindata202012,sep = ',', encoding="utf8")

In [81]:
#Add a new column that expresses the semi annual

train202001['Semi Annual']="H1 2020"
train202002['Semi Annual']="H1 2020"
train202003['Semi Annual']="H1 2020"
train202004['Semi Annual']="H1 2020"
train202005['Semi Annual']="H1 2020"
train202006['Semi Annual']="H1 2020"
train202007['Semi Annual']="H2 2020"
train202008['Semi Annual']="H2 2020"
train202009['Semi Annual']="H2 2020"
train202010['Semi Annual']="H2 2020"
train202011['Semi Annual']="H2 2020"
train202012['Semi Annual']="H2 2020"

In [ ]:
FY2020=pd.concat([train202001,train202002,train202003,train202004,train202005,train202006,train202007,train202008,train202009,train202010,train202011,train202012], ignore_index=True)
FY2020